<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보</title>
</head>
<body>
    직군선택
    <select name="job_category" id="job_category">
        <option value="#">직군선택</option>
        <option value="1">개발</option>
    </select>

    경력선택
    <select name="carrer" id="carrer">
        <option value="#">경력선택</option>
        <option value="1">신입</option>
        <option value="2">경력</option>
    </select>

    <form>
        <input type="email" name="email" id="" value="ld210@naver.com" readonly>
        <input type="password" name="password" id="">

        <button>정보수정</button>
        <button>회원탈퇴</button>
    </form>
</body>
</html>