<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Search</title>
</head>
<body>

    지원 플랫폼 : 잡코리아
    공고명 : <input type="text" name="job_name" id="job_name" placeholder="공고명">
    회사명 : <input type="text" name="job_company" id="job_company" placeholder="회사명">
    급여 : <input type="text" name="job_salary" id="job_salary" placeholder="급여">
    지역 : <input type="text" name="job_location" id="job_location" placeholder="근무지">

    내용이 일치하는 경우 등록을 눌러주시고, 일치하지 않는 경우 직접 입력을 눌러주세요.
    <button>등록</button>
    <button>직접입력</button>
</body>
</html>